.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: var(--gutter);
  background: var(--white);
  box-shadow: 1px 1px 1px 0 var(--grey);
  border-radius: 0px;
  border-top: 1rem solid var(--grey);
  overflow: hidden;
}

.card__title {
  margin: var(--negative-gutter) 0 var(--gutter) var(--negative-gutter);
  width: calc(100% + calc(2 * var(--gutter)));
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.35;
  flex-grow: 3;
  padding: var(--small-gutter) var(--gutter);
}

.card__person {
  display: block;
  font-size: 0.75rem;
  font-style: italic;
  color: var(--dark-grey);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.architecture {
  border-top-color: var(--dark-grey);
}

.kubernetes {
  border-top-color: #436ce6;
}

.golang {
  border-top-color: #74cede;
}

.front-end {
  border-top-color: #2dbf80;
}

.css {
  border-top-color: #9c27b0;
}

.html {
  border-top-color: #e44d26;
}

.javascript {
  border-top-color: #f1e05a;
}
