.select {
  background: var(--white);
  border: 1px solid var(--grey);
  display: inline-block;
  position: relative;
}

.select__label {
  background: var(--white);
  padding: 0.5rem 0;
  width: calc(100% - 3rem);
  font-size: 1.125rem;
  top: 0.375rem;
  position: absolute;
  line-height: 1;
  left: 0.75rem;
  transition: top 0.075s linear, color 0.1s linear, font-size, 0.075s linear;
  pointer-events: none;
}

.select__input {
  width: 100%;
  border: 0;
  background: transparent;
  padding: 1rem 2rem 0 0.5rem;
  height: 2.875rem;
  color: var(--on-white);
}

@-moz-document url-prefix() {
  select,
  select:-moz-focusring,
  select::-moz-focus-inner {
    color: transparent !important;
    text-shadow: 0 0 0 var(--on-white) !important;
    background-image: none !important;
    border: 0;
  }
}

.select--disabled {
  opacity: 0.33;
}

.select--disabled .select__input {
  cursor: not-allowed;
}

.select--has-value .select__label {
  font-size: 0.6875rem;
  color: var(--dark-grey);
  top: 0.5625rem;
  letter-spacing: 0.5px;
  padding: 0;
}

.select__icon {
  position: absolute;
  height: 2.875rem;
  width: 2rem;
  text-align: center;
  line-height: 2.875rem;
  top: 0;
  right: 0;
  background: var(--white);
  pointer-events: none;
  font-size: 0.875rem;
  color: var(--on-white);
}
