.button {
  border: 0;
  padding: 1rem 2.375rem 0.875rem;
  background-color: var(--secondary);
  color: var(--on-secondary);
  font-size: 1.125rem;
  line-height: 1.375rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
}

.button.button {
  box-shadow: 1px 1px 1px 0 var(--grey);
}

label ~ .button {
  padding: 0.875rem 2.375rem 0.75rem;
}

.button .icon {
  font-size: 1.3125rem;
  margin-right: 0.75rem;
  vertical-align: bottom;
}

.button.button--active,
.button:hover,
.button:focus {
  background-color: var(--dark-secondary);
  color: var(--on-dark-secondary);
}

.button:disabled {
  cursor: default;
  background: var(--grey);
  color: var(--on-grey);
  cursor: not-allowed;
}

.button:disabled:hover,
.button:disabled:focus {
  background: var(--grey);
  color: var(--on-grey);
}

.button--navigational {
  background-color: var(--white);
  color: var(--on-white);
}

.button--navigational[aria-selected='true'],
.button--navigational.button--active,
.button--navigational:hover,
.button--navigational:focus {
  background-color: var(--primary);
  color: var(--on-primary);
}

.button--action {
  margin: 0;
  background-color: transparent;
  color: currentColor;
  padding: 0.5rem;
}

.button.button--action {
  box-shadow: none;
}

.button--action.button--active,
.button--action:hover,
.button--action:focus {
  background-color: transparent;
  color: currentColor;
}

.button--action:disabled {
  opacity: 0.25;
  background-color: transparent;
}

.button--action:disabled:hover,
.button--action:disabled:focus {
  background-color: transparent;
}

.button--icon-only {
  line-height: 1;
  padding: 0.125rem;
}

.button--icon-only:not(.button--action) {
  padding: 1rem 2rem;
}

.button--icon-only .icon {
  margin: 0;
  font-size: 1rem;
}

.button--ghost {
  background: var(--white);
  color: var(--on-white);
  border: 2px solid var(--dark-grey);
  padding: 0.875rem 2.375rem 0.75rem;
}

.button--ghost.button--active,
.button--ghost:hover,
.button--ghost:focus {
  background: var(--white);
}
